<div class="container-fluid">
<div class="row">
	<center><h1>Cart</h1></center>
	<hr>

	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="row">
				<receiptrder -->
				<div ng-show="ctrl.order">
				<div class="row">
					<div class="col-md-4">
						<h3>Order:</h3>
						<hr>
						<h4>Total price :<strong>{{ctrl.order.totalPrice}}</strong></h4>
						<h4>Order Discount :<strong>{{ctrl.order.discount}}%</strong></h4>
						<h4>Final Price :<strong>{{ctrl.order.price}}</strong></h4>
						<h4>Points Earned :<strong>{{ctrl.order.pointsEarned}}</strong></h4>
						<hr>
						<form>
						<h5>use bonus points</h5>
						<input 
							type="number" 
							value="0" 
							ng-model="ctrl.order.pointsSpent" 
							min="0"
							max="{{ctrl.max}}">
						<h5>your bonus points : <strong>{{ctrl.order.customer.userProfile.buyingPoints}}</strong></h5>
						</form>
						<hr>
					</div>
					<div class="col-md-8">
						<table 
							style="height: 100px; overflow-y: scroll"
							class="table">
							<thead>
								<tr>
									<th> article name </th>
									<th> article price </th>
									<th> amount</th>
									<th> total price </th>
									<th> discount </th>
									<th><strong>final price</strong></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in ctrl.order.items">
									<td>{{item.article.name}}</td>
									<td>{{item.articlePrice}}</td>
									<td>{{item.amount}}</td>
									<td>{{item.totalPrice}}</td>
									<td>{{item.discount}}</td>
									<td><strong>{{item.price}}</strong></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
					<button class="btn btn-success " ng-click="ctrl.order=null">Cancel</button>
					<button class="btn btn-success pull-right" ng-click="ctrl.confirmOrder()">Confirm</button>
				</div>
				<hr>				
				<button 
					class="btn btn-success btn-block" 
					ng-click="ctrl.createOrder()"
					ng-disabled="ctrl.cart.length==0">
					Create Order
				</button>
				<!-- cart items -->
				<div 
					style="border-style: ridge;"
					class="col-md-3" 
					ng-repeat="article in ctrl.cart"><center>
					<span 
						style="cursor: pointer;"
						ng-click="ctrl.remove(article)" 
						class="glyphicon glyphicon-remove">
					</span>
					<small>{{article.id}}</small><br>
					<img src="{{}}" width="150px" height="150px">
					<p><strong>{{article.name}}</strong></p>
					<p>price:<strong>{{article.price}}</strong></p>
					<p>count:<strong>{{article.number}}</strong></p>
					

					<p>{{article.category.name}}
				</center></div>
		</div>


	</div>
	<div class="col-md-2"></div>

</div>
</div>