<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <!-- first step user details -->
            <div ng-show="ctrl.step==1">
                <form  name="registerForm">                
                    <center><h1>Register</h1></center>
                    <!--username with username_taken indicator-->
                    <div class="form-group">
                        <center><label for="usr">Username:</label></center>
                            <input id="usr" type="text" class="form-control"  ng-change="ctrl.checkUsername()" ng-model="ctrl.username" required>
                            <span class="glyphicon glyphicon-remove" ng-show="ctrl.usernameTaken"></span>
                            <span class="glyphicon glyphicon-ok" ng-show="!ctrl.usernameTaken"></span>
                    </div>
                    <!--password-->
                    <div class="form-group">
                        <center><label for="pass">Password:</label></center>
                            <input id="pass" type="password" class="form-control" ng-model="ctrl.password" required>
                    </div>
                    <!--first name-->
                    <div class="form-group">
                        <center><label for="fname">First Name:</label></center>
                            <input id="fname" type="text" class="form-control" ng-model="ctrl.fname" required>
                    </div>
                    <!--last name-->
                    <div class="form-group">
                        <center><label for="lname">Last Name:</label></center>
                            <input id="lname" type="text" class="form-control" ng-model="ctrl.lname" required>
                    </div>
                    <!-- role -->
                    <div class="form-group">
                        <center><label for="role">Role:</label></center>
                        <select class="form-control" id="role" ng-model="ctrl.role">
                            <option ng-repeat="r in ctrl.roles">{{r}}</option>
                        </select>
                    </div>
                    <!--address required if role customer -->
                    <div 
                        class="form-group"
                        ng-show="ctrl.role=='customer'">
                        <center><label for="address">Address:</label></center>
                        <input id="address" type="text" class="form-control" 
                            ng-model="ctrl.address" 
                            ng-required="ctrl.role=='customer'">
                    </div>
                    <!--submit -->
                    <center><button 
                        class="btn btn-success" 
                        ng-disabled="registerForm.$invalid || ctrl.usernameTaken" 
                        ng-click="ctrl.register()">
                        Register
                    </button></center>
                </form>

            </div>

            <!-- second step user image-->
            <div ng-show="ctrl.step==2">

                <center><h1>You have successfully registered</h1>
                <h2>setup your avatar</h2></center>

                <!--image_preview -->
                <center><img 
                    src="{{ctrl.img_preview}}" 
                    width="200px" 
                    height="200px"
                /></center>
                <!--file input -->
                <input 
                    accept="image/*"
                    type="file" 
                    name="file" 
                    onchange="angular.element(this).scope().readFile(this)">

                <hr>
                 <!--upload -->
                <button 
                    class="btn btn-success" 
                    ng-click="ctrl.upload()" >
                    Upload
                </button>
                 <!--skip upload -->
                <button 
                    class="btn btn-success pull-right" 
                    ng-click="ctrl.skip()">
                    Skip
                </button>

            </div>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>